.opinion1{
  height: 400px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
}

.opinion1-yellow{
  background: #ffd109;
  height: 350px;
  width: 550px;
  padding-left: 100px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 450px;
  color: #2c2c2c;
  & h4{
    font-size: 13px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #373737;

  }
  & h2{
    font-size: 50px;
    margin-bottom: 10px;
  }
  & h3{
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Lora', serif;
  }
}

.opinion1-poster{
  position: absolute;
  left: -120px;
  top:30px;
  height: 290px;
  width: 203px;
  z-index: 1;
  & img{
    height: 100%;
    width: 100%;
  }
}